<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <label for="name">Nombre del producto:</label>
  <input id="name" type="text" formControlName="nombre" />
  <div *ngIf="productForm.get('nombre')?.invalid && productForm.get('nombre')?.touched">
    ⚠️ El nombre es obligatorio.
  </div>

  <label for="desc">Descripción del producto:</label>
  <textarea id="desc" formControlName="descripcion"></textarea>

  <label for="img">Imagen del producto:</label>
  <input id="img" type="text" formControlName="foto" />

  <label for="categ">Categoría del producto:</label>
  <select id="categ" formControlName="categoria">
    <option [ngValue]="null">-------</option>
    <option *ngFor="let cat of categorias" [ngValue]="cat">
      {{ cat.nombre }}
    </option>
  </select>
  <div *ngIf="productForm.get('categoria')?.invalid && productForm.get('categoria')?.touched">
    ⚠️ Selecciona una categoría.
  </div>

  <label for="price">Precio del producto (€):</label>
  <input id="price" type="number" formControlName="precio" min="0" step="1" />
  <div *ngIf="productForm.get('precio')?.invalid && productForm.get('precio')?.touched">
    ⚠️ Introduce un precio válido.
  </div>

  <label for="stock">Stock inicial:</label>
  <input id="stock" type="number" formControlName="stock" min="0" step="5" />
  <div *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
    ⚠️ El stock no puede ser negativo.
  </div>

  <label for="discount">Añadir descuento:</label>
  <input id="discount" type="number" formControlName="descuento" min="0" step="2" />



  <button type="submit" [disabled]="productForm.invalid">Crear</button>
</form>
